li{
  list-style: none;
  display: inline;
}

.inline{
  display: block;
  border-width: 1px;
  border-style: solid;
  border-color:green;
  margin: 25px;
}

.n-child section:nth-of-type(even){
  border-width: 1px;
  border-color:blue;
  border-style: solid;
}